.categories
  flex-direction: row
  justify-content: space-between
  align-items: center
  width: 700px
  max-width: 100%

.categories__title
  text-align: left
  flex-basis: 50%
  margin: 0
  line-height: 1

.categories-wrapper-btn
  flex-basis: 45%

.categories:nth-child(odd)
  margin-right: 0